<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Starter</title>

    <script src="https://www.google.com/recaptcha/api.js?render=<%= recaptcha_site_key %>"></script>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <% 
    <!-- Adding the passed locals in the local ejs variables, else it will give the variable not defined issue-->
    user = locals.user ?? null;
    recaptcha_site_key = locals.recaptcha_site_key ?? null;
    error_msg = locals.error_msg ?? '';
    email = locals.email ?? null;
    %>

    <div class="container">
        <%- include('../partials/_header.ejs') %>
        <%- include('../partials/_error.ejs') %>
        <%- body %>
        <%- include('../partials/_footer.ejs') %>
    </div>
    <script src="/scripts/script.js"></script>
</body>
</html>
